body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #ccc;
}

body,
#root,
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 7px #dadada;
  -moz-box-shadow: 0px 2px 7px #dadada;
  box-shadow: 0px 2px 7px #dadada;
  margin-bottom: 2px;
}

footer {
  display: flex;
  -webkit-box-shadow: 0px -2px 7px #dadada;
  -moz-box-shadow: 0px -2px 7px #dadada;
  box-shadow: 0px -2px 7px #dadada;
  padding: 15px 0;
  justify-content: center;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  justify-content: space-between;
}

.container,
.sidebar {
  display: flex;
  flex-grow: 1;
}

.container {
  margin-right: 1%;
  width: 75%;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar {
  width: 25%;
  flex-direction: column;
}

.auth {
  margin: 0 auto;
}

.auth form input {
  display: block;
  margin: 10px 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #1976d2;
}

.menu {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 25px;
}

.desk-menu a {
  padding: 0 10px;
}
.avatar-small {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: yellow;
  margin-right: 24px;
}

.sp-bor {
  display: inline-flex;
  margin: 5px;
  padding: 2px 5px;
  border: 1px solid #999;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown span:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* dark mode theme */
.dark {
  background-color: #333;
  color: #fff;
}

.dark a:link {
  color: #6cb1f5;
}

.dark a:hover {
  color: #1976d2;
}

.dark a:visited {
  color: #0a57a3;
}

.dark header {
  -webkit-box-shadow: 0px 2px 7px #666;
  -moz-box-shadow: 0px 2px 7px #666;
  box-shadow: 0px 2px 7px #666;
}

.dark footer {
  -webkit-box-shadow: 0px -2px 7px #666;
  -moz-box-shadow: 0px 2px 7px #666;
  box-shadow: 0px 2px 7px #666;
}

.dark .dropdown-content {
  background: #333;
  box-shadow: 0 8px 16px 0px rgba(255, 255, 255, 0.2);
}

/* left bar motion */
.menu-icon {
  display: none;
  font-size: 30px;
  padding: 10px 0 10px 20px;
}

.menu-icon:hover {
  cursor: pointer;
}

.drawer {
  background: #444;
}

.mobile-menu {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-user {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fafafa;
  align-items: center;
}

.menu-user img {
  width: 36px;
  margin-right: 10px;
}

/* responsive design */

@media only screen and (max-width: 768px) {
  .desk-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
